In [1]:
import time
import sys
import logging
import numpy as np
import pandas as pd
import os
import tensorflow as tf
from ast import literal_eval
import tqdm
from ner_model import NERModel
from model.config import Config
from model.data_utils import load_dataset
from collections import Counter

In [2]:
config = Config()
model = NERModel(config)
model.build()

Initializing tf session

In [3]:
model.restore_session(config.dir_model)

Reloading the latest trained model...

INFO:tensorflow:Restoring parameters from results/large_lstm_test/model.weights/

Restoring parameters from results/large_lstm_test/model.weights/

In [4]:
test = model.create_submission()

9980it [03:38, 65.82it/s]

Submission is saved

In [27]:
test = pd.read_csv(model.config.path_to_test)

In [28]:
len(test)

9795

In [9]:
test.head()

,context_id,context_2,context_1,context_0,reply_id,reply,merged_contexts,contexts_and_reply
0,138920940977,"[24350, 7323, 21487, 19771, 15667, 7323, 27441...","[39653, 22909, 10226]",[25647],0,"[1292, 30318]","[24350, 7323, 21487, 19771, 15667, 7323, 27441...","[24350, 7323, 21487, 19771, 15667, 7323, 27441..."
1,138920940977,"[24350, 7323, 21487, 19771, 15667, 7323, 27441...","[39653, 22909, 10226]",[25647],1,"[25647, 7323, 39653, 21278, 30318]","[24350, 7323, 21487, 19771, 15667, 7323, 27441...","[24350, 7323, 21487, 19771, 15667, 7323, 27441..."
2,138920940977,"[24350, 7323, 21487, 19771, 15667, 7323, 27441...","[39653, 22909, 10226]",[25647],2,"[25647, 30318]","[24350, 7323, 21487, 19771, 15667, 7323, 27441...","[24350, 7323, 21487, 19771, 15667, 7323, 27441..."
3,138920940977,"[24350, 7323, 21487, 19771, 15667, 7323, 27441...","[39653, 22909, 10226]",[25647],3,"[34555, 7323, 25647, 30318]","[24350, 7323, 21487, 19771, 15667, 7323, 27441...","[24350, 7323, 21487, 19771, 15667, 7323, 27441..."
4,138920940977,"[24350, 7323, 21487, 19771, 15667, 7323, 27441...","[39653, 22909, 10226]",[25647],4,"[24734, 7323, 25647, 30318]","[24350, 7323, 21487, 19771, 15667, 7323, 27441...","[24350, 7323, 21487, 19771, 15667, 7323, 27441..."

In [10]:
test.shape

(9968, 8)

In [ ]:
Counter(test.predicted)

In [13]:
x = pd.read_csv("../submission.csv", sep=' ', header=-1)

In [17]:
test.context_id.head(20)

0     138920940977
1     138920940977
2     138920940977
3     138920940977
4     138920940977
5     138920940977
6     178951117610
7     178951117610
8     178951117610
9     178951117610
10    178951117610
11    178951117610
12    281631344938
13    281631344938
14    281631344938
15    281631344938
16    281631344938
17    281631344938
18    303514034521
19    303514034521
Name: context_id, dtype: int64

In [18]:
138920940978 in test.context_id

False

In [20]:
x.loc[0, 0] = 138920940977

In [23]:
x.loc[:, 0].values

array([   138920940977,    138920940977,    138920940977, ...,
       281005785254216, 281005785254216, 281005785254216])

In [24]:
test.context_id.values

array([   138920940977,    138920940977,    138920940977, ...,
       281005785254216, 281005785254216, 281005785254216])

In [26]:
all(x.loc[:, 0].values == test.context_id.values)

True

In [6]:
l = sum(1 for x in open())

In [7]:
l

9968