In [30]:
import numpy as np
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf
import pandas as pd
from collections import Counter
from ast import literal_eval

#gpu_options = tf.GPUOptions(allow_growth=True, per_process_gpu_memory_fraction=0.99)
#s = tf.InteractiveSession(config=tf.ConfigProto(gpu_options=gpu_options))
s = tf.InteractiveSession()

In [31]:
def get_trimmed_glove_vectors(filename):
    """
    Args:
        filename: path to the npz file

    Returns:
        matrix of embeddings (np array)

    """
    try:
        with np.load(filename) as data:
            return data["embeddings"]

    except IOError:
        raise MyIOError(filename)

In [32]:
PATH_TO_TRAIN = "../../data/train_preprocesses.csv"

In [33]:
train = pd.read_csv(PATH_TO_TRAIN)

In [34]:
train.head()

,Unnamed: 0,context_id,context_2,context_1,context_0,reply_id,reply,label,confidence
0,0,22579918886,"[654394, 1561605, 16734, 1554817, 306154, 1561...","[1830003, 1463197, 334254, 676100, 917832]","[1293580, 1463197, 1501890, 1000204]",0,"[743031, 1101989]","[0, 0, 1]",0.875352
1,1,22579918886,"[654394, 1561605, 16734, 1554817, 306154, 1561...","[1830003, 1463197, 334254, 676100, 917832]","[1293580, 1463197, 1501890, 1000204]",1,"[1141967, 1463197, 1431000, 1100672, 334254]","[0, 1, 0]",0.900968
2,2,22579918886,"[654394, 1561605, 16734, 1554817, 306154, 1561...","[1830003, 1463197, 334254, 676100, 917832]","[1293580, 1463197, 1501890, 1000204]",2,"[1448996, 1463197, 334254, 743031, 1688119, 15...","[1, 0, 0]",0.884320
3,3,22579918886,"[654394, 1561605, 16734, 1554817, 306154, 1561...","[1830003, 1463197, 334254, 676100, 917832]","[1293580, 1463197, 1501890, 1000204]",3,"[334254, 743031, 1103971, 1431000]","[0, 0, 1]",0.982530
4,4,22579918886,"[654394, 1561605, 16734, 1554817, 306154, 1561...","[1830003, 1463197, 334254, 676100, 917832]","[1293580, 1463197, 1501890, 1000204]",4,"[334254, 355899, 1430584]","[0, 0, 1]",0.838054

In [35]:
sentence = literal_eval(train.context_2[0])

In [36]:
sentence

[654394,
 1561605,
 16734,
 1554817,
 306154,
 1561605,
 1636421,
 1134945,
 36509,
 1098780,
 493496,
 1134945]

In [37]:
number_of_lines = sum(1 for line in open('../../data/vocab.txt'))

In [38]:
number_of_lines

1864671

In [39]:
max_len = len(sentence)
print (max_len)

12

# Embedding_attempt

In [41]:
input_vector = tf.placeholder('int32',shape=(None,))

In [43]:
pretrained_embeddings = get_trimmed_glove_vectors("../../data/embedding_vectors.npy.npz")

In [42]:
_word_embeddings = tf.placeholder(dtype=tf.float32,
                                 shape=(1864671, 300))
word_embeddings = tf.Variable(_word_embeddings)
lookup_table = tf.nn.embedding_lookup(word_embeddings, input_vector)

In [45]:
embedded_sentence = lookup_table.eval({word_embeddings:pretrained_embeddings, input_vector:sentence})

In [46]:
embedded_sentence

array([[-0.27099001,  0.0038703 ,  0.29203001, ...,  0.30803001,
        -0.31979001, -0.014068  ],
       [ 0.52195001,  0.012519  , -0.23693   , ...,  0.079786  ,
        -0.13312   ,  0.15352   ],
       [ 0.33581999, -0.018048  ,  0.054759  , ...,  0.65539002,
         0.1096    ,  0.22796001],
       ...,
       [-0.25742999, -0.18020999, -0.30884999, ..., -0.13552999,
        -0.10224   ,  0.17727999],
       [ 0.025241  ,  0.33236   ,  0.39745   , ..., -0.35383001,
        -0.21622001,  0.033836  ],
       [-0.047718  ,  0.39737001,  0.024763  , ...,  0.20096999,
        -0.17502999,  0.055658  ]], dtype=float32)

In [47]:
embedded_sentence.shape

(12, 300)